<div class="task-item"
     (dblclick)="editOn(task)"
     matTooltipShowDelay="500"
     matTooltipHideDelay="500"
     matTooltip="Double Click to Edit"
     [cdkDragDisabled]="dragDisabled"
     cdkDrag cdkDragHandle>
  <div class="handle" [ngClass]="task.favorite ? 'orange' : 'gray'" (click)="toggleFavorite(task)">
    <mat-icon>star</mat-icon>
  </div>
  @if (task.editing) {
    <input placeholder="Enter Task Name"
           class="edit-input"
           type="text"
           [value]="task.title"
           (keyup.enter)="editOff($event,task)"
           (blur)="editOff($event,task)"
           ngAutoFocus/>
  } @else {
    <span class="task-text"
    >{{ task.title }}</span>
  }
  <div class="actions">
    <mat-icon (click)="deleteTask(task)" class="pointer font-medium color-red flex-center" matTooltip="Delete!">delete
    </mat-icon>
  </div>
</div>
