<mat-toolbar>
  Task Manager
  <span class="flex-fill"></span>
  <button [matMenuTriggerFor]="options" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <span class="info">Use the keyboard shortcut Cmd+K / Ctrl+K to create new Task </span>
  <router-outlet></router-outlet>
</div>


<mat-menu #options="matMenu">
  <button mat-menu-item routerLink="/trash">
    <mat-icon color="warn">delete</mat-icon>
    <span>Show Deleted</span>
  </button>
  <button (click)="downloadTasks()" mat-menu-item>
    <mat-icon>download</mat-icon>
    <span>Download Notes</span>
  </button>
  <button (click)="clearAll()" mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Delete All Forever</span>
  </button>
</mat-menu>
