<div class="row">
  <div class="status">
    <div class="title">
      <h2>Backlog</h2>
    </div>
    <div
      cdkDropList
      #backlogList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList,doneList]"
      [cdkDropListData]="data.backlog"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.backlog; track item.id; let idx = $index) {
        <app-task-item (updatedTask)="taskUpdated()" (deletedTask)="deleteTask(item)"
                       [taskItem]="item">
        </app-task-item>

      }
      <div (click)="addBacklog()" style="cursor: pointer" class="add-task">
        <mat-icon>add</mat-icon>
      </div>
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>In Progress</h2>
    </div>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList,backlogList]"
      [cdkDropListData]="data.inProgress"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.inProgress; track item.id) {
        <app-task-item (updatedTask)="taskUpdated()" (deletedTask)="deleteTask(item)"
                       [taskItem]="item"></app-task-item>
      }
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>Completed</h2>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList,backlogList]"
      [cdkDropListData]="data.completed"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.completed; track item.title) {
        <app-task-item (updatedTask)="taskUpdated()" (deletedTask)="deleteTask(item)"
                       [taskItem]="item"></app-task-item>
      }
    </div>
  </div>
</div>

