<div class="row">
  <div class="status">
    <div class="title">
      <h2>Backlog</h2>
    </div>
    <div
      cdkDropList
      #backlogList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList,doneList,deleteList]"
      [cdkDropListData]="data.backlog"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.backlog; track item.id; ) {
        <app-task-item (updatedTask)="taskUpdated()" (isDragging)="dragChange($event)"
                       [taskItem]="item"></app-task-item>
      }
      <div (click)="addBacklog()" style="cursor: pointer" class="add-task">
        <mat-icon>add</mat-icon>
      </div>
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>In Progress</h2>
    </div>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList,backlogList,deleteList]"
      [cdkDropListData]="data.inProgress"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.inProgress; track item.id) {
        <app-task-item (updatedTask)="taskUpdated()" (isDragging)="dragChange($event)"
                       [taskItem]="item"></app-task-item>
      }
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>Completed</h2>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList,backlogList,deleteList]"
      [cdkDropListData]="data.completed"
      class="tasks"
      (cdkDropListDropped)="drop($event)">
      @for (item of data.completed; track item.title) {
        <app-task-item (updatedTask)="taskUpdated()" (isDragging)="dragChange($event)"
                       [taskItem]="item"></app-task-item>
      }
    </div>
  </div>
</div>

<div
  #deleteList="cdkDropList"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="[todoList,backlogList,doneList]"
  [cdkDropListData]="data.deleted"
  [ngStyle]="isDragging ? {'display': 'block'} : {'display': 'none'}"
  cdkDropList
  class="delete-area">
  <button aria-label="Example icon button with a delete icon" class="delete-button" color="warn" mat-fab>
    <mat-icon>delete</mat-icon>
  </button>
</div>
